/* service.module.css */

.service {
  max-width: 100%;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.service h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.serviceImage {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.description p {
  text-align: left;
  margin: 1rem 0;
}

.quote {
  margin: 1rem auto;
  background-color: #007acc;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: background-color 0.2s;
  max-width: 25rem;
}

.quote:hover {
  background-color: #005a9e;
}

.quote h2 {
  margin: 0;
  color: white;
}

.quote a {
  color: white;
  text-decoration: none;
}


.quote a {
  color: white;
  text-decoration: none;
}

@media (min-width: 40rem) {
  .description {
    margin: 3rem auto;
    max-width: 50rem;
  }
}
