/* services.module.css */

.servicesContainer {
  background: url("/images/background3.jpg") no-repeat center center fixed;
  background-size: cover;
}

.servicespage {
  margin: 1rem auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  max-width: 24rem;
  margin: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.service:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
