.footer {
  margin-top: auto;
  background-color: var(--color-primary-700);
  padding: 0 0.25rem;
  color: var(--color-primary-50);
}

.description {
  padding: 1rem 0;
  text-align: center;
}

.description h4,
.description p {
  margin: 0;
}

.navlinks ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navlinks li a {
  color: var(--color-primary-50);
  padding: 0;
}

.socialIcons {
  display: flex;
  justify-content: space-around;
  padding: 0.25rem;
  font-size: x-large;
}

.socialIcons a {
  padding: 0.25rem;
}

.scrollUp {
  display: flex;
  justify-content: flex-end;
  font-size: large;
}

.legal {
  font-size: small;
  text-align: center;
  color: var(--color-primary-700);
}

@media (min-width: 40rem) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navlinks ul {
    flex-direction: column;
    align-items: center;
  }
}
