/* footer.module.css */

.footer {
  background-color: var(--color-primary-700);
  color: var(--color-primary-50);
  padding: 1rem 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column; /* Default to a column layout */
  align-items: center;
  justify-content: center; /* Center content vertically */
}

.description {
  padding: 1rem 0;
  width: 100%;
  text-align: left !important;
}

.description h4,
.description p {
  margin: 0;
}

.navlinks ul {
  display: flex;
  list-style: none;
  flex-direction: column; /* Display links vertically by default */
  align-items: left; /* Center links horizontally */
  margin: 0;
  padding: 0;
}

.navlinks li {
  margin: 0.5rem;
}

.navlinks li a {
  color: var(--color-primary-50);
  padding: 0;
  text-decoration: none;
  transition: color 0.2s;
}

.navlinks li a:hover {
  color: var(--color-primary-300);
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.socialIcons a {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-primary-50);
  text-decoration: none;
  transition: color 0.2s;
}

.socialIcons a:hover {
  color: var(--color-primary-300);
}

.scrollUp {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.legal {
  font-size: small;
  color: var(--color-primary-700);
  margin: 1rem auto;
}

@media (min-width: 40rem) {
  .footer {
    flex-direction: row; /* Switch to a row layout on desktop */
    justify-content: space-between; /* Spread content horizontally */
    align-items: center;
    text-align: left;
  }

  .description {
    max-width: 40%;
  }

  .navlinks ul {
    flex-direction: column; /* Display links vertically on desktop */
    margin-top: 0;
  }

  .navlinks li {
    margin: 0 1rem;
  }
}
