.header {
  background-color: var(--color-primary-600);
  color: var(--color-primary-50);
  height: var(--size-20);
  position: sticky;
  padding: 0;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.headContent {
  height: 100%;
}

.headItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 0.25rem;
}

.headItems a {
  color: var(--color-primary-50);
}

.nav {
  width: 100%;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.showNav {
  transform: translateY(0%);
}

.nav ul {
  border-top: 1px solid var(--color-primary-50);
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
  height: fit-content;
}

.nav li a {
  display: block;
  background-color: var(--color-primary-600);
  color: var(--color-primary-50);
  padding: 1.5rem 0;
  width: 100%;
  border-bottom: 1.5px solid var(--color-primary-50);
  border-left: 1.5px solid var(--color-primary-50);
  transition: background-color 0.2s ease;
}

.nav li a:hover {
  background-color: var(--color-primary-700);
}

.nav li a.active {
  background-color: var(--color-primary-700);
}

.loginBtn {
  margin-top: 0.25rem;
  float: right;
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: var(--color-primary-50);
  background-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-50);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loginBtn:hover {
  background-color: var(--color-primary-700);
}

@media (min-width: 40rem) {
  .headContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    width: fit-content;
    position: relative;
    transform: translateY(0%);
  }

  .nav ul {
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .nav li,
  .hideNav li {
    margin: 0.5rem;
  }

  .nav li a,
  .hideNav li a {
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: var(--color-primary-50);
    transition: background-color 0.2s ease;
  }

  .nav li a:hover,
  .hideNav li a:hover {
    background-color: var(--color-primary-700);
  }

  .loginBtn {
    margin: 0;
    padding: 0 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
  }

  .loginBtn:hover {
    background-color: var(--color-primary-700);
  }
}
