.header {
  background-color: var(--color-primary-600);
  color: var(--color-primary-50);
  height: var(--size-20);
  position: sticky;
  padding: 0;
  top: 0;
  z-index: 10;
}

.headContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.headItems {
  display: flex;
  align-items: center;
}

.headItems a {
  color: var(--color-primary-50);
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.headItems a:hover {
  color: var(--color-primary-200);
}

.logo {
  flex: 1;
}

.nav {
  width: 100%;
  position: absolute;
  transition: 0.3s transform ease-in-out;
  transform: translateY(-100%);
  background-color: var(--color-primary-600);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-top: 2px solid var(--color-primary-700);
}

.showNav {
  transform: translateY(0%);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav li {
  margin: 0.5rem 0;
  display: block;
}

.nav a {
  display: block;
  padding: 1rem 0;
  color: var(--color-primary-50);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--color-primary-200);
}

.loginBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-primary-50);
  background-color: var(--color-primary-500);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loginBtn:hover {
  background-color: var(--color-primary-700);
  color: var(--color-primary-100);
}

@media (min-width: 40rem) {
  .nav {
    position: relative;
    transform: translateY(0%);
    background-color: transparent;
    box-shadow: none;
    border-top: none;
  }

  .nav ul {
    flex-direction: row;
  }

  .nav li {
    margin: 0 1rem;
  }

  .nav a {
    padding: 0;
    margin: 0;
  }

  .loginBtn {
    margin-top: 0;
  }
}
