.aboutpage {
  margin: 0;
  padding: var(--size-1);
  text-align: left;
}

.aboutpage p {
  margin: 0 0.5rem;
}

@media (min-width: 40rem) {
  .aboutpage {
    margin: 3rem auto;
    max-width: 50rem;
  }
}
