.homepage {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel {
  margin-top: 1rem;
}

@media (min-width: 40rem) {
  .homepage {
    margin: auto;
    max-width: 60rem;
  }
  .carousel {
    margin-top: 0.25rem;
  }
}
