.homepage {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homepage p {
  margin: 0 0.5rem;
}

 .carousel {
    margin: 1rem 0;
  }

@media (min-width: 40rem) {
  .homepage {
    margin: auto;
    max-width: 60rem;
  }
  .carousel {
    margin: 0.25rem 0;
  }
}
